<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 60px;
  --bar-height: 9px;
  --bar-color: #FFFFFF;
  --barBg-color: #171717;
  --bar-timing: 200ms ease-in-out;
  --hamburger-gap: 12px;
  --hamburger-margin: 5px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
  background: #0f172a;
}

*,
html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border-radius: 10px;
}

.animateOnScroll {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(3%);
  transition: all 0.7s;
}

.mostrar {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

#blob {
  animation: gradientMove 80s infinite linear, rotate 15s infinite linear;
  background-image: linear-gradient(to right, turquoise, darkorchid, gold, orangered, darkblue, white, violet, turquoise, darkorchid);
  background-size: 4000px;
  transition: all 5s;
  z-index: -2;
}

.textShadow {
  text-shadow: 0 0px 10px #000000;
}

.lines {
  background-image: linear-gradient(#3873d990,
      #3873d990 2px,
      transparent 2px,
      transparent 9px);
  background-size: 100% 9px;
  animation: pan-overlay 22s infinite linear;
}

.lines:hover {
  background-image: linear-gradient(#5eead595,
      #5eead595 2px,
      transparent 2px,
      transparent 9px);
}

.menuVisivel {
  transform: translate(0);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 2px solid var(--barBg-color);
  box-shadow: 0 0 0 2px var(--bar-color);
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--bar-color);
  border-radius: 9999px;
  transition: opacity var(--bar-timing), width var(--bar-timing), rotate var(--bar-timing), translate var(--bar-timing);
  transform-origin: left center;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  translate: 100%;
  transition: translate var(--bar-timing);
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

.hamburger-menu:has(input:checked)+body {
  filter: blur(13px) brightness(0.7);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes gradientMove {
  from {
    background-position: 0;
  }

  to {
    background-position: 100%;
  }
}

@keyframes pan-overlay {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0% -100%;
  }
=======
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 60px;
  --bar-height: 9px;
  --bar-color: #FFFFFF;
  --barBg-color: #171717;
  --bar-timing: 200ms ease-in-out;
  --hamburger-gap: 12px;
  --hamburger-margin: 5px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
  background: #0f172a;
}

*,
html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border-radius: 10px;
}

.animateOnScroll {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(3%);
  transition: all 0.7s;
}

.mostrar {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

#blob {
  animation: gradientMove 80s infinite linear, rotate 15s infinite linear;
  background-image: linear-gradient(to right, turquoise, darkorchid, gold, orangered, darkblue, white, violet, turquoise, darkorchid);
  background-size: 4000px;
  transition: all 5s;
  z-index: -2;
}

.textShadow {
  text-shadow: 0 0px 10px #000000;
}

.lines {
  background-image: linear-gradient(#3873d990,
      #3873d990 2px,
      transparent 2px,
      transparent 9px);
  background-size: 100% 9px;
  animation: pan-overlay 22s infinite linear;
}

.lines:hover {
  background-image: linear-gradient(#5eead595,
      #5eead595 2px,
      transparent 2px,
      transparent 9px);
}

.menuVisivel {
  transform: translate(0);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 2px solid var(--barBg-color);
  box-shadow: 0 0 0 2px var(--bar-color);
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--bar-color);
  border-radius: 9999px;
  transition: opacity var(--bar-timing), width var(--bar-timing), rotate var(--bar-timing), translate var(--bar-timing);
  transform-origin: left center;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  translate: 100%;
  transition: translate var(--bar-timing);
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

.hamburger-menu:has(input:checked)+body {
  filter: blur(13px) brightness(0.7);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes gradientMove {
  from {
    background-position: 0;
  }

  to {
    background-position: 100%;
  }
}

@keyframes pan-overlay {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0% -100%;
  }
>>>>>>> b7e050231fd2f52901f2694ec368c349b8f0fd42
}